<!doctype html>
<title>Asset Tracker - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Asset Tracker</h1>
  
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  <header>
    <a class="action" href="{{ url_for('home.index') }}">Home</a>
    <a class="action" href="{{ url_for('tracker.index') }}">Tracker</a>
    {% block subheader %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
